.aguia
{
    transform: scaleX(-1);
    position: absolute;
}
.rovio
{
    position: absolute;
    left: 170%;
    transform: scaleX(-1);
}
.bomb
{
    transform: scaleX(-1);
    left: 150%;
    position: absolute;
}